:root {
  --alt-grey: #37374a;
  --white: white;
  --grey: #bbbbbe;
  --light-steel-blue: #98a5c2;
  --dark-grey: #1b1b27;
  --lavander: #758cdf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helveticaneue, sans-serif;
  color: var(--white);
  line-height: 1.8;
  font-size: 1rem;
}

body {
  background-color: var(--grey);
}

h1 {
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 5rem;
  line-height: 100%;
}

h2 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: var(--alt-grey);
  font-size: 2rem;
  margin: 0.5rem 0 2rem 0;
}

h3 {
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 100%;
}

h4 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  color: var(--alt-grey);
  margin: 0.5rem 0 2rem 0;
  font-size: 5rem;
  color: white;
  font-weight: 300;
  letter-spacing: -0.1rem;
  font-style: normal;
}

p {
  font-weight: 500;
  color: var(--alt-grey);
  font-size: 1rem;
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  background-color: rgb(161, 75, 49);
  border: none;
  padding: 1rem 2rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  line-height: 100%;
}
button:hover {
  background-color: rgb(168, 97, 75);
}
button svg {
  height: 1rem;
  fill: white;
  margin-right: 0.5rem;
  color: white;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
nav .logo {
  font-weight: 600;
}
nav ul {
  display: inherit;
}
nav ul li {
  list-style-type: none;
  padding: 0 1rem;
  font-weight: 600;
  line-height: 1.4;
}
nav ul li a {
  text-decoration: none;
}
nav ul li :hover {
  animation-name: kolor;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes kolor {
  from {
    color: white;
  }
  to {
    color: #1b1b27;
  }
}

main .section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  position: relative;
  padding: 50px 0;
}
main .section_1 {
  box-shadow: 0 20px 15px rgba(22, 12, 12, 0.4);
  z-index: 0;
  background-color: #bbbbbe;
  padding-top: 0px;
  border-radius: 1rem;
}
main .section_1 .giph {
  grid-column: 3/7;
}
main .section_1 .giph video {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
main .section_1 .hero-info {
  grid-column: 7/11;
}
main .parallax-image {
  background-color: #ddd;
  z-index: -1;
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
}
main .parallax-image img {
  grid-column: span 12;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-320px);
}
main .section_2 {
  margin-top: 50vh;
  box-shadow: 0 -20px 20px rgba(22, 12, 12, 0.4);
  background-color: var(--grey);
  height: 100vh;
  z-index: 0;
  border-radius: 1rem;
  padding: 6rem 0;
  align-items: start;
}
main .section_2 .rezerwacja {
  grid-column: 3/11;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 50px var(--alt-grey);
}
main .section_2 .rezerwacja .image {
  width: 100%;
  height: 100%;
}
main .section_2 .rezerwacja .image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
}
main .section_2 .rezerwacja .right {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  gap: 2rem;
}
main .section_2 .rezerwacja .right > div > h3 {
  color: #37374a;
}
main .section_2 .rezerwacja .right .formula {
  height: 100%;
}
main .section_2 .rezerwacja .right .formula form {
  height: 100%;
  margin: 0;
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: 1fr 1fr;
}
main .section_2 .rezerwacja .right .formula form .submit-button {
  width: auto;
  grid-column: 2/3;
  align-items: center;
  background-color: rgb(161, 75, 49);
  border: none;
  padding: 0.7rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  line-height: 100%;
  margin-top: 2rem;
}
main .section_2 .rezerwacja .right .formula form .submit-button:hover {
  background-color: rgb(168, 97, 75);
}
main .section_2 .rezerwacja .right .formula form label {
  color: #37374a;
  font-size: 1rem;
}
main .section_2 .rezerwacja .right .formula form > div > input {
  width: 100%;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  color: var(--alt-grey);
  padding: 0.1rem 0.5rem;
}
main .section_2 .rezerwacja .right .formula form .slider {
  grid-column: 1/3;
}
main .section_2 .rezerwacja .right .formula form .slider .range-slider {
  width: 100%;
  display: flex;
  align-items: center;
}
main .section_2 .rezerwacja .right .formula form .slider .range-slider .range-slider__range {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
main .section_2 .rezerwacja .right .formula form .slider .range-slider .range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--dark-grey);
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  cursor: pointer;
}
main .section_2 .rezerwacja .right .formula form .slider .range-slider .range-slider__range::-webkit-slider-thumb:hover {
  background: rgb(131, 50, 50);
}
main .section_2 .rezerwacja .right .formula form .slider .range-slider .range-slider__value {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--alt-grey);
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px 20px;
  margin-left: 1rem;
}
main .section_2 .rezerwacja .right .formula form .flex {
  display: flex;
  justify-content: left;
  align-items: center;
}
main .section_2 .rezerwacja .right .formula form .flex input {
  margin: 0.3rem;
  width: auto;
}
main .section_3 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  padding: 3rem 0;
  transform: translateY(-1rem);
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
}
main .section_3 .content .naglowek {
  grid-column: 3/11;
  padding: 0 0 0 40px;
}
main .section_3 .content .galeria {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex: none;
  gap: 40px;
  height: -moz-min-content;
  height: min-content;
  justify-content: flex-start;
  padding: 0 0 0 40px;
  position: relative;
  width: -moz-min-content;
  width: min-content;
}
main .section_3 .content .galeria .box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  height: -moz-min-content;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: relative;
  border-radius: 0.5rem;
  width: 550px;
}
main .section_3 .content .galeria .box img {
  aspect-ratio: 1.2334801762/1;
  width: 100%;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
main .section_3 .content .galeria .box .opis > p {
  color: white;
}/*# sourceMappingURL=style.css.map */