.hero{
    box-shadow: 0 20px 15px rgba(22, 12, 12, 0.4);
    z-index: 0;
    background-color: var(--body-color-light);
    padding-top: 0px;
    border-radius: 1rem;   
}
.hero__giph{
    grid-column: 2/7;
}
video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.hero__info{
    grid-column: 7/12;
}
h1{
    font-weight: var(--font-medium);
    span{
        color: var(--text-color-dark);
        font-weight: var(--font-bold);
        font-style: italic;
        letter-spacing: 0.01rem;
        font-family: var(--second-font);
        margin: .5rem 0 2rem 0;
        font-size: var(--h3-font-size);
    }
}
/* .hero__info > h3{
    color: var(--text-color-dark);
    font-weight: var(--font-bold);
    font-style: italic;
    letter-spacing: 0.05rem;
} */
.hero__info > p{
    margin-top: 10rem;
    font-size: 1.5rem;
    text-align: right;
}

/* ========= BRAKEPOINTS ========= */
@media screen and (max-width: 1550px) {
    .hero__info > p{
        margin-top: 8rem;
    }
}
/* For large devices */
@media screen and (max-width: 992px) {
    .hero__info > p{
        margin-top: 5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .hero__info > p{
        margin-top: 0.5rem;
        font-size: 1.12rem;

    }
  }
  @media screen and (max-width: 576px) {
    .hero{
        display: flex;
        flex-direction: column;
    }
    .hero__giph{
        width: 70vw;
    }
    .hero__info{
        text-align: center;
    }
    .hero__info > p{
        display: none;
    }
  } 
 
  /* For small devices */
  /* @media screen and (max-width: 350px) {

  } */